[Desktop Entry]
Encoding=UTF-8
Name=BLAST Core
Comment=Connect to the BLAST P2P Network
Exec=blast-qt %u
Terminal=false
Type=Application
Icon=blast128
MimeType=x-scheme-handler/blast;
Categories=Office;Finance;
Name[en_US]=blast-qt.desktop
